<div class = "col-10 offset-1 about" >
<h1>About Splurty</h1>
<p>
Splurty was built by Alex in Valbonne France as part of the Firehose project software web development bootcamp.
</p>
<p>Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser </p>
<br />

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'artificial-intelligence.svg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Alexandre Calice</h2>
    <br />
    <p>
      Alex is a rookie web developper learning the trade with the awesome Firehose team. In his spare time, he is an Intellectual Property Business Consultant with <a href="www.anaqua.com">
      ANAQUA</a> a cool Boston based software company specialized in Intellectual Property asset management sofware and services.
    </p>
    <p>
    Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
</div>
