@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Overpass');

//--GENERAL-------------
::selection {
  background-color: #f84342;
}

//--HEADER STYLING------
header {
  border-top: 9px solid #222222;
}
//--NAVBAR---------------
.clear {
  clear:both;
}
hr {
  clear:both;
}

//--NAVBAR--LOGO--------
#nav-zen {
  width: 80px;
  height: 80px;
  margin: 10px 10px;
}

/**
.circle {
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #f84342;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform: rotate(11deg);
  -ms-transform: rotate(11deg);
  -webkit-transform: rotate(11deg);
}
.logo:hover {
  text-decoration: none;
}*****/

 .slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style:italic;
  padding-top:26px;
  font-size:1.2em;
}
.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}
//--NAVBAR --- LINKS-----
.links {
  padding-top:26px;
}
.links a {
  color:black;
  font-size:25px;
  //border-bottom: 1px solid #dfdfdf;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

//---MODAL--------------
.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

//--QUOTE------
h1 {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}
h2 {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}
h2 span {
  font-family: 'Overpass', sans-serif;
  color: #dddddd;
}
.quote-tag {
  padding-right: 15px;
  margin-left:20px;
  height:40px;
  width: 40px;
}

//---FOOTER----------
.next-quote {
  color:#f84342;
  font-family: 'Overpass', sans-serif;
  font-size:20px;
}
a.next-quote {
  text-decoration:none;
}
.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size:1.2em;
}
.footer-img {
  width:30px;
  height: 30px;
}

//---MEDIA QUERIES------
@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}